:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}

.main_heading {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 40px;
}

.primary_button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.primary_button:hover {
  cursor: pointer;
  font-weight: bold;
}

.pricing_div {
  height: 100vh;
  display: flex;
  align-items: center;
}
.blob {
  opacity: 0.2;
  width: 200px;
}
.pricing_div {
  background-image: url("../Images/blob2.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  backdrop-filter: var(--primaryColor);
}
